body {
    background: linear-gradient(180deg, #191919 0%, #000000 100%);
    background-attachment: fixed;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    background-color: black;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px; 
    position: relative;
    min-height: 100vh;
    margin: 0;
}

footer {
    top: 20px;  
    background-color: transparent;
}

footer img {
    display: block;
    border-radius: 50px;
}

.social-links {
    display: flex;
    align-items: center;     
    gap: 15px;
    background-color: white;
    width: fit-content;
    border-radius: 50px;  
    padding: 15px 25px; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.social-links:hover {
    transform: translateY(-2px);
}

.social-links img {
    display: block;
    transition: 0.2s ease-in-out;
}

.social-links img:hover {
    display: block;
    transform: scale(1.15);
}

.social-links:hover {
    transform: translateY(-2px);
}

.my-mail {
    display: flex;
    align-items: center;     
    gap: 15px;
    background-color: white;
    width: fit-content;
    border-radius: 100px;  
    padding: 15px 25px; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.my-mail:hover {
    transform: translateY(-2px);
}

.my-mail img {
    display: block;
    transition: 0.2s ease-in-out;
}

.my-mail img:hover {
    display: block;
    transform: scale(1.15);
}

.my-mail:hover {
    transform: translateY(-2px);
}
